@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --primary-color: rgba(13,110,139,0.85);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Poppins',sans-serif;
    line-height: 1.4;
}
.container{
    max-width: 960px;
    margin:auto;
    overflow:hidden;
    padding:0 3rem;
}
.showcase{
    background-color: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
    z-index: -1;
}
.showcase:before{
    content:'';
    background: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center
    center/cover;
    opacity: 60%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
}
.showcase .showcase-inner{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height :100%;
}
.showcase h1{
    font-size: 4rem;
}
.showcase p{
    font-size: 1.3rem;
}
.btn{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}
.btn:hover{
  opacity:0.7;
}